<div class="card m-2 pb-3">
    <div class="card-header">Todo list</div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter task.." [(ngModel)]="item">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="addButton" (click)="addItem()">Add
                            Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card-body">
            <div *ngFor=" let it of itemList; let i = index" class="border-bottom p-2">
                {{it}} <span class="btn pr-4 float-end" (click)="removeItem(i)"><i class="fa fa-trash-o fa-lg"></i>
                </span>
            </div>
        </div>
    </div>
</div>