<nav class="navbar navbar-expand-lg navbar-light bg-success-subtle">
  <div class="container-fluid">
    <div class="navbar-brand"><img src="../assets/logo/ysg-logo.png" width="50" height="50"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu" aria-labelledby="servicesDropdown">
            <a class="dropdown-item" routerLink="/todo">Todo</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Yelgoi Sandeep Guptha</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid padding-none m-1 shadow pb-3">
  <div class="container-fluid padding-none">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="fixed-bottom border-top small opacity-75">
  &copy; yelgoi sandeep guptha
</div>