<p>not-found works!</p>
<div class="SecondNav">
    <div class="navLineheight">
        <div class="btnBar inblock"></div>
    </div>
</div>
<div class="container">
    <div class="panel panel-warning margin-t-20">
        <div class="panel-heading">
            <h1 class="panel-title size-30 text-center">Page Not Found</h1>
        </div>
        <div class="panel-body">
            <div class="text-center padding-t-b">
                <i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i>
            </div>
            <p class="text-center padding-t-b size-18">
                Try pressing the back button or
                <br /> clicking on this button.
            </p>
            <p class="text-center margin-b-20">
                <a class="btn btn-primary btn-md" href="javascript:void(0);" (click)="redirectToHome()">
                    <i class="fa fa-home"></i> Back to Home
                </a>
            </p>
            <p class="text-center margin-b-20">
                <button routerLink="/">Back to Home</button>
            </p>
        </div>
    </div>
</div>